:root {
  /* Primary Action Color (Red) - Used for buttons, links, and highlights */
  --color-primary: #d4232b;

  /* Text and Main Content Color (Black) */
  --color-accent: #1c1c1c;
  --color-secondary: #4a4a4a;

  /* Base Background Color (White) */
  --color-light: #ffffff;

  /* Secondary Background/Container Color (Light Gray) */
  --color-background: #c7c7c7;

  --color-blue: #666699;
  --color-gray: #ddd;
  --color-opal-green: #b7cec6;
  --color-aubergine: #472f4f;
  --color-pear: #d1e231;
  --color-highlight: #fffee0;
  --color-dark-subtle: #a52a2a;
}

/* Example of how to use the variables */
body {
  background-color: var(--color-highlight); /* White background for the page */
  color: var(--color-text); /* Black text */
  margin: 0;
  padding: 0;
  display: flex;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-blue);
}

.logo-img {
  max-width: 100%;
  width: 100px;
  height: 100px;
  display: block;
  text-indent: -9999px;
}

header {
  background-color: var(--color-aubergine);
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 1.5rem;
  margin: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: flex-end;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: var(--color-primary);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--color-blue);
}

h1 {
  color: var(--color-opal-green);
  font-size: 3.2em;
  line-height: 1.1;
}

h1:hover {
  color: var(--color-aubergine);
}

main {
  padding: 2rem;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
/*min-width 481px and more*/
@media (min-width: 481px) {
  nav ul {
    flex-direction: row;
  }
}
